body {
  position: relative;
  padding-bottom: 250px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: #40464d;
}

.header-links > a {
  font-size: 1.3rem;
}

.larger-button {
  font-size: 1.3rem;
}

.larger-link {
  font-size: 1.3rem;
}

.form-container {
  min-width: 500px;
}

.cursor-pointer {
  cursor: pointer;
}

.pfp-large {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.pfp-small {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.video-max-height {
  max-height: 600px;
}

.votes-container {
  font-size: 2rem;
}

.upvotes-container * {
  color: rgb(0, 226, 0);
}

.downvotes-container * {
  color: red;
}

.votes-container a:hover {
  text-decoration: none;
}
