body {
    position: relative;
    padding-bottom: 250px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #40464d;
}

.header-links > a {
    font-size: 1.3rem;
}

.larger-button {
    font-size: 1.3rem;
}

.larger-link {
    font-size: 1.3rem;
}

.form-container {
    min-width: 500px;
}

.cursor-pointer {
    cursor: pointer;
}